*{
    
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

   background:#FCFCFC;
}

.section-leaderboard{
    height:100vh;

    width:100%;

    padding:50px 0;
    font-size:40px;
    font-family: 'Lato';
    text-align: center;



}


.return{
    font-size:20px;
    color:#222;
    text-transform:uppercase;
    font-weight:500;
    margin-left:-2%;
}


.accordion .ui-icon{
    display:none;
}


.accordion.ui-accordion:nth-of-type(1) .ui-accordion-header,
.accordion.ui-accordion:nth-of-type(2) .ui-accordion-header,
.accordion.ui-accordion:nth-of-type(3) .ui-accordion-header,
.accordion.ui-accordion:nth-of-type(4) .ui-accordion-header,
.accordion.ui-accordion:nth-of-type(5) .ui-accordion-header{
    background-color:green;
    color:white;
}


.section-leaderboard .section-title{
    text-transform: capitalize;
    color:#555;
    font-weight: 500;
    margin:0 auto;
    display: inline-block;
    margin-left:-2.7%;
    margin-bottom:30px;
}


.leaderboard-table{
    width:60%;
    height:auto;
    margin-left:21%;
    position: relative;
    background-color: white;
    box-shadow:0px 0px 5px #888;
}

.accordion{
    width:100%;
    position: relative;
    float: left;
}


.ui-accordion-header.clearfix{
    display: flex;
}

.contributors{
    display: inline-block;
}
.contributor_data{
    width:100%;
    height:auto;
    padding:5px 10px;
    /* padding:5px 10px!important; */
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    outline:none;
}

.contributor_contributions li{
    display: inline-block;
}

.contributor_data.ui-state-active{
    outline: none;
    background-color:#CCC;
}

ul{
    margin:1px 0;
    list-style-type: none;
    text-align: center;

}

.ui-accordion .ui-accordion-header{
    padding:5px 20px;
}

.contributor_contributions{
    display: block;
    height:auto;
    padding:10px;
    
}

.contribution {
    width: 100%;
    
    color: #222;
    font-size:80%;
    list-style-type: none;
    
    
}


.data-cont-item{
    
    /* font-size:50%!important; */
    font-size: 50%;
}


.data-row-item{
    text-align: center;
    
    font-size:20px;
    
}



.ui-accordion .ui-accordion-content{
    /* padding:0px!important; */
    padding:0px;
}

.flex-container{
    display: -webkit-flex; /* Safari */
    
    display: flex;
    justify-items: strecth;
    
}

.total{
    float: right;
    /* float: right!important; */
}

.th{
    font-size:15px;
    font-weight:500;
    margin-bottom:30px;
    text-transform: uppercase;
    text-align: center;
}








::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #ee0979;
    border-radius: 5px ;
    transition: all 200ms ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
      background: #ff6a00;
      transition: all 200ms ease-in-out;
}



#mentors, #contestants, #projects, #game, #blogs{
    text-align: center;
  }
  .preloader img{

  height:230px;
  width:auto;
  margin:0 auto;
  display: inline-block;
}
.preloader img {
		animation: rotation 2s 1 linear;
}

@keyframes rotation {
		from {
				-webkit-transform: rotateY(0deg)  scale(0,0);

		}
		to {
				-webkit-transform: rotateY(360deg) scale(1.7,1.7);

		}
}



@-webkit-keyframes slideInDown {
    from {
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
      visibility: visible;
    }

    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
    }

    @keyframes slideInDown {
    from {
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
      visibility: visible;
    }

    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
    }
    .slideInDown {
    -webkit-animation-name: slideInDown;
    animation-name: slideInDown;
    }

    @-webkit-keyframes slideOutUp {
      from {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
      }

      to {
        visibility: hidden;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
      }
    }

    @keyframes slideOutUp {
      from {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
      }

      to {
        visibility: hidden;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
      }
    }

    .slideOutUp {
      -webkit-animation-name: slideOutUp;
      animation-name: slideOutUp;
    }


    .fh5co-animated {
      -webkit-animation-duration: .6s;
      animation-duration: .6s;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
    }

    .navbar-fixed-top{
      padding-left: 0;
      padding-right: 0;
    }

    .navbar-fixed-top{
    max-height: 340px;
    }
    @media (max-device-width: 480px) and (orientation: landscape) {
    .navbar-fixed-top{
      max-height: 200px;
    }}
    .navbar-fixed-top{
      position: fixed;
      right: 0;
      left: 0;
      z-index: 1030;
    }
    @media (min-width: 768px) {
      .navbar-fixed-top{
        border-radius: 0;
      }
      
    }

    .navbar-fixed-top{
      top: 0;
      border-width: 0 0 1px;
    }

      .heading{
        height:auto;
        width:100%;
        padding:50px 0;
        font-size:40px;
        font-family: 'Lato';
        color:#222;
        text-align: center;
        margin:0 auto;
        font-weight:300;
      }

      .heading:after{
        content: '';
        display: block;
        height:2px;
        width:70px;
        margin:0 auto;
        background: #ee0979; /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #ee0979, #ff6a00); /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #ee0979, #ff6a00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    }
    

    .clearfix:after {
        content: "";
        display: block;
        clear: both;
        visibility: hidden;
        line-height: 0;
        height: 0;
    }
    
    .clearfix {
        display: inline-block;
    }
    
    html[xmlns] .clearfix {
        display: block;
    }
    
    * html .clearfix {
        height: 1%;
    }

    @media only screen and (max-width:1025px){

        .leaderboard-table{
            width:80%;
            height:auto;
            margin-left:12%;
            position: relative;
        }

        .ui-accordion .ui-accordion-header{
            font-size:60%;
        }

        .section-leaderboard .section-title{
            text-transform: capitalize;
            color:#555;
            font-weight: 500;
            margin:0 auto;
            display: inline-block;
            margin-left:-2%;
            margin-bottom:30px;
        }
        
    }

    @media only screen and (max-width:500px){

        .leaderboard-table{
            width:80%;
            height:auto;
            
            position: relative;
        }

        .data-row-item{
            font-size:12px;
        }
        
        .section-leaderboard .section-title{
            text-transform: capitalize;
            color:#555;
            font-weight: 500;
            margin:0 auto;
            display: inline-block;
            margin-left:4%;
            margin-bottom:30px;
        }
    }


    }
