.card {
    width: 200px;
    height: 235px;
    background: #f8f9fa;
    position: relative;
    margin: 10px;
    padding:5px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    
  }

  .card .front .image {
    width: 100%;
    height: 80%;
    background: #bd1036;
     border-radius:5px;
  }

  .card .back .about {
    width: 100%;
    height: 80%;
    background: #333;
    text-align: center;
  }

  .card .back .about h3 {
    text-align: center;
    font-size:20px;
    text-transform: uppercase;
  }

  .card .back .social {
    font-size: 30px;
  }

  .card .front .image img {
    width: 100%;
    height: 100%;
    border-radius:5px;
  }

  .card .front {
    position: absolute;
    width: 95%;
    height: 95%;
    
    backface-visibility: hidden;
    transform: perspective(600px) rotateY(0deg);
    transition: transform 0.55s linear;
    border-radius:3px;
  }

  .card-underline{
    background-color:#ff6a00;
  }
  .card .front .name {
    
    margin-top:7px;
    width:100%;
    font-size: 12px;
    border-radius:3px;
    padding:8px 0;
    font-weight:bold;
    text-transform: uppercase;
    
    background: -webkit-linear-gradient(45deg, #ee0979, #ff6a00);

    
  }

  .card .back {
    position: absolute;
    width: 95%;
    height: 95%;
    background: #333;
    backface-visibility: hidden;
    transform: perspective(600px) rotateY(180deg);
    transition: transform 0.55s linear;
    padding: 10px;
    border-radius:4px;
  }

  /*.card:hover .front {
    transform: perspective(600px) rotateY(-180deg)
  }

  .card:hover .back {
    transform: perspective(600px) rotateY(0deg)
  }*/

  .flipped .front{
   transform: perspective(600px) rotateY(-180deg);
  }
    
   .flipped .back{
   transform: perspective(600px) rotateY(0deg);
  }

  .mentors .contestants {
    width: 100%;
    text-align: center;
  }

  .mentors .contestants .heading {
    text-align: left;
  }

  .card .back .about p{
    padding:10px;
  }
  .mentors .back .social a {
    color: #fff;
    margin:0 4px;
  }
  .mentors .back .social a:hover {
    color: lightblue;
  }
  .contestants .back .social a {
    color: #fff;
    margin:0 4px;
  }
  .contestants .back .social a:hover {
    color: lightblue;
  }