<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <!--Favicon-->
  <link rel="icon" type="image/png" sizes="32x32" href="images/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="images/favicon/favicon-16x16.png">
  <link rel="manifest" href="images/favicon/manifest.json">
  <link rel="shortcut icon" href="images/favicon/favicon.ico">


  <title>OpenCode</title>

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700" rel="stylesheet">

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- JQuery UI links -->
  <link href="vendor/jquery/jquery-ui.min.css" rel="stylesheet">
  <link href="vendor/jquery/jquery-ui.structure.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/scrolling-nav.css" rel="stylesheet">
  <!-- Font awesome for social icons  -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="css/simple-line-icons.css">
  <link rel="stylesheet" href="css/style.css">
  <link href="style1.css" media="all" rel="stylesheet" />
  <link rel="stylesheet" href="css/game-style.css">
  <link rel="stylesheet" href="css/projects-style.css">
  <link rel="stylesheet" href="css/issues-style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style type="text/css">
::-webkit-scrollbar {
    width: 20px;
}
::-webkit-scrollbar {
    width: 20px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 15px ;
}
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 15px;
}
::-webkit-scrollbar-thumb:hover {
      background: #555;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

</style>
  <style type="text/css">
  @media screen and (max-width: 300px) {
    div.mentors, div.contestants, div.projects, div.game{margin-left: 14vh;}
    h1#center-mentor{margin-left: 5vh;}
    h1#center-participant{margin-left: 1vh;}
    h1#center-project{margin-left: 5vh;}
    h1#center-game{margin-left: 5vh;}
    }
	.preloader img{

  height:230px;
  width:auto;
  margin:0 auto;
  display: inline-block;
}
.preloader img {
		-webkit-animation: rotation 2s 1 linear;
}

@-webkit-keyframes rotation {
		from {
				-webkit-transform: rotateY(0deg)  scale(0,0);

		}
		to {
				-webkit-transform: rotateY(360deg) scale(1.7,1.7);

		}
}
  </style>

  <style>



  @-webkit-keyframes slideInDown {
from {
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
  visibility: visible;
}

to {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
}

@keyframes slideInDown {
from {
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
  visibility: visible;
}

to {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
}
.slideInDown {
-webkit-animation-name: slideInDown;
animation-name: slideInDown;
}

@-webkit-keyframes slideOutUp {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
}

@keyframes slideOutUp {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
}

.slideOutUp {
  -webkit-animation-name: slideOutUp;
  animation-name: slideOutUp;
}


.fh5co-animated {
  -webkit-animation-duration: .6s;
  animation-duration: .6s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.navbar-fixed-top{
  padding-left: 0;
  padding-right: 0;
}

.navbar-fixed-top{
max-height: 340px;
}
@media (max-device-width: 480px) and (orientation: landscape) {
.navbar-fixed-top{
  max-height: 200px;
}}
.navbar-fixed-top{
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
}
@media (min-width: 768px) {
  .navbar-fixed-top{
    border-radius: 0;
  }
}

.navbar-fixed-top{
  top: 0;
  border-width: 0 0 1px;
}


  </style>
  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="js/preloader.js"></script>

</head>
<script>var cards = document.querySelectorAll(".card");</script>
<body id="page-top">
<div class="preloader-wrapper" style="background-color: black;">
    <div class="preloader">
        <img style="margin-left: -15px; margin-top: -25px;" src="images/OpenCode.png" alt="NILA">
    </div>
</div>
  <!-- Navigation -->
  <div id="fh5co-header">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">OpenCode</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#services">Mentors</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#contact">Participants</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="projects/projects.html" target="_blank">Projects</a>
          </li>

          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#fun">Games</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" id="trailer" href="#trailer">Trailer</a>
          </li>
          <li class="nav-item">
            <span class="space"></span>
          </li>
          <li class="nav-item">
            <div class="st">
              <span id="star-box"><i class="fa fa-star" aria-hidden="true"></i><a href="https://github.com/opencode18/OpenCode-Collaborative" style="text-decoration-line: none" target="_blank">  Stars</a></span>
              <span id="star"></span>
            </div>
          </li>
          <li class="nav-item">
            <div class="fo">
              <span id="fork-box"><i class="fa fa-code-fork" aria-hidden="true"></i><a href="https://github.com/opencode18/OpenCode-Collaborative" style="text-decoration-line: none" target="_blank">  Forks</a></span>
              <span id="fork"></span>
            </div>
          </li>

        </ul>
      </div>
  </nav>
</div>
  </div>

  <header>
    <div id="snow"></div>

    <div class="row logo">
      <img src="images/OpenCode.png" alt="Opencode Logo" class="hero-logo">

   </div>

    </div>

    <div class="row title">
      <h1 class="hero-title">&nbsp;OPENCODE</h1>


    </div>
    <hr class="card-underline">
    <div class="row quote">
      <p class="hero-quote">IIIT Allahabad's very own mini GSOC!</p>
    </div>
  </header>
<br>
<br>
<div class="sticky-container">
    <ul class="sticky">
        <li>
            <img src="images/fb.jpeg" width="70" height="150">
			<p><br><iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fopencodeiiita%2F&tabs=timeline&width=340&height=200&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" padding-left="10px" width="340" height="130" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe></p>
        </li>
    </ul>
</div>

<div id="clockdiv">
	<div><span class="days"></span><div class="smalltext">Days</div></div>
	<div><span class="hours"></span><div class="smalltext">Hours</div></div>
	<div><span class="minutes"></span><div class="smalltext">Minutes</div></div>
	<div><span class="seconds"></span><div class="smalltext">Seconds</div></div>
</div>


<section id="Trailer">
  <div id="popupBody" class="videoHidden">
    <div class="videoPopup">

      <iframe width="100%" height="500" src="https://www.youtube.com/embed/qjVYRDQAl2Q"></iframe>

    <span class="close"></span>
    </div>
  </div>
</section>



  <section id="services" class="bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-12" class="mentors" id="mentors">
          <div class="heading">
            <h1 id="center-mentor">Mentors</h1>
          </div>
          <div class="card" v-for="mentor in alphaSort(mentors)" onclick="this.classList.toggle('flipped')">
            <div class="front">
              <div class="image">
                <img v-bind:src="mentor.imageurl">
              </div>
              <div class="name">
                <div class="triangle-left"></div>
                <div class="triangle-right"></div>
                {{ mentor.name }}</div>
            </div>
            <div class="back">
              <!-- <div class="snow-card"></div> -->
              <div class="about">
                <div id="snow"></div>
                <h3>About me</h3>
                <hr class="card-underline">
                <p>{{ mentor.about }}</p>
              </div>
              <div class="social">
                <div class="triangle-left"></div>
                <div class="triangle-right"></div>
                <a v-bind:href="mentor.facebook">
                  <i class="fa fa-facebook-official" aria-hidden="true"></i>
                </a>
                <a v-bind:href="mentor.github">
                  <i class="fa fa-github" aria-hidden="true"></i>
                </a>
                <a v-bind:href="mentor.twitter">
                  <i class="fa fa-twitter" aria-hidden="true"></i>
                </a>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>

  <section id="contact">
    <div class="container">
      <div class="row">
        <div class="contestants" id="contestants">
          <div class="heading">
            <h1 id="center-participant">Participants</h1>
          </div>
          <div class="card" v-for="contestant in alphaSort(contestants)" onclick="this.classList.toggle('flipped')">
            <div class="front">
              <div class="image">
                <img v-bind:src="contestant.imageurl">
              </div>
              <div class="name">
                <div class="triangle-left"></div>
                <div class="triangle-right"></div>
                {{ contestant.name }}</div>
            </div>
            <div class="back">
              <!-- <div id="snow"></div> -->
              <div class="about">
                  <div id="snow"></div>
                <h3>About me</h3>
                <p class="card-college">{{ contestant.college }}</p>
                <hr class="card-underline">
                <p class="card-bio">{{ contestant.about }}</p>
              </div>
              <div class="social">
                <div class="triangle-left"></div>
                <div class="triangle-right"></div>
                <a v-bind:href="contestant.facebook">
                  <i class="fa fa-facebook-official" aria-hidden="true"></i>
                </a>
                <a v-bind:href="contestant.github">
                  <i class="fa fa-github" aria-hidden="true"></i>
                </a>
                <a v-bind:href="contestant.twitter">
                  <i class="fa fa-twitter" aria-hidden="true"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section id="fun" class="bg-light">
    <div class="container">
      <div class="row">
        <div class="game" id="game">
          <div class="heading">
            <h1 id="center-game">Participant's Games</h1>
          </div>
          <div class="card" v-for="game in alphaSort(game)" onclick="this.classList.toggle('flipped')">
            <div class="front">

                <div class="image">
                    <img v-bind:src="game.imageurl">
                  </div>
                <div class="name">
                    <div class="triangle-left"></div>
                    <div class="triangle-right"></div>
                    {{ game.gamename }}</div>
                </div>
                <div class="back">
                    <!-- <div id="snow"></div> -->
                    <div class="about">
                        <div id="snow"></div>
                        <p class="game-name">CREATED BY</p>
                        <p class="game-name">{{ game.developer }}</p>
                      </div>
                    <div class="social">
                      <div class="triangle-left"></div>
                      <div class="triangle-right"></div>
                      <a v-bind:href="game.github" target="_blank">
                        <i class="fa fa-cubes" aria-hidden="true"></i>
                      </a>
                    </div>
                  </div>
          </div>

        </div>
      </div>
    </div>
  </section>





  <section class="issues">
      <div class="section-title">
          ISSUES
      </div>

      <div id="accordion" class="container">

          <div class="project-title" id="opencode18-OpenCode-Collaborative-heading">
              <i class="fa fa-angle-down" aria-hidden="true"></i>
                 OpenCode-Collaborative (html, css, javascript)
              <a href="#">
                 <i class="fa fa-github" aria-hidden="true"></i>
              </a>
           </div>

          <div class="project-issues-list container" role="tab">
            <div class="row" id="opencode18-OpenCode-Collaborative-issues">
            </div>
	    <br>
            <div class="row" id="opencode18-OpenCode-Collaborative-load-more">

                <button class="btn btn-danger" onclick="loadMoreIssues('opencode18', 'OpenCode-Collaborative')">Load more</button>

             </div>
          </div>

          <!-- ================================================================================== -->
          <!-- COPY AND PASTE THIS BLOCK AND REPLACE USER opencode18 AND REPOSITORY NAME CodeStash-->
          <!-- ================================================================================== -->



          <div class="project-title" id="opencode18-CodeStash-heading">
              <i class="fa fa-angle-down" aria-hidden="true"></i>
                  CodeStash (C, C++)
              <a href="#">
                 <i class="fa fa-github" aria-hidden="true"></i>
              </a>
           </div>

          <div class="project-issues-list container" role="tab">
            <div class="row" id="opencode18-CodeStash-issues">
            </div>

            <div class="row" id="opencode18-CodeStash-load-more">

                <button class="btn btn-danger" onclick="loadMoreIssues('opencode18', 'CodeStash')">Load more</button>

             </div>
          </div>



          <!-- Go Algorithms -->
          <div class="project-title" id="gostudent-Algorithms-heading">
              <i class="fa fa-angle-down" aria-hidden="true"></i>
                    Go Algorithms (Go)
              <a href="#">
                 <i class="fa fa-github" aria-hidden="true"></i>
              </a>
           </div>

          <div class="project-issues-list container" role="tab">
            <div class="row" id="gostudent-Algorithms-issues">
            </div>

            <div class="row" id="gostudent-Algorithms-load-more">

                <button class="btn btn-danger" onclick="loadMoreIssues('gostudent', 'Algorithms')">Load more</button>

             </div>
          </div>


          <!-- Anna -->
          <div class="project-title" id="Anna-Assistant-Anna-heading">
              <i class="fa fa-angle-down" aria-hidden="true"></i>
                    Anna (HTML, CSS, JAVASCRIPT)
              <a href="#">
                 <i class="fa fa-github" aria-hidden="true"></i>
              </a>
           </div>

          <div class="project-issues-list container" role="tab">
            <div class="row" id="Anna-Assistant-Anna-issues">
            </div>

            <div class="row" id="Anna-Assistant-Anna-load-more">

                <button class="btn btn-danger" onclick="loadMoreIssues('Anna-Assistant', 'Anna')">Load more</button>

             </div>
          </div>


          <!-- Motivate -->
          <div class="project-title" id="mubaris-motivate-heading">
              <i class="fa fa-angle-down" aria-hidden="true"></i>
                    Motivate (PYTHON)
              <a href="#">
                 <i class="fa fa-github" aria-hidden="true"></i>
              </a>
           </div>

          <div class="project-issues-list container" role="tab">
            <div class="row" id="mubaris-motivate-issues">
            </div>

            <div class="row" id="mubaris-motivate-load-more">

                <button class="btn btn-danger" onclick="loadMoreIssues('mubaris', 'motivate')">Load more</button>

             </div>
          </div>



          <!-- Lecture Connect -->
          <div class="project-title" id="agbilotia1998-Lecture-Connect-heading">
              <i class="fa fa-angle-down" aria-hidden="true"></i>
                    Lecture Connect (HTML, CSS, JAVASCRIPT)
              <a href="#">
                 <i class="fa fa-github" aria-hidden="true"></i>
              </a>
           </div>

          <div class="project-issues-list container" role="tab">
            <div class="row" id="agbilotia1998-Lecture-Connect-issues">
            </div>

            <div class="row" id="agbilotia1998-Lecture-Connect-load-more">

                <button class="btn btn-danger" onclick="loadMoreIssues('agbilotia1998', 'Lecture-Connect')">Load more</button>

             </div>
          </div>



          <!-- Aparoksha 18 -->
          <div class="project-title" id="GeekHaven-Aparoksha-18-heading">
              <i class="fa fa-angle-down" aria-hidden="true"></i>
                    Aparoksha 18 (HTML, CSS, JAVASCRIPT)
              <a href="#">
                 <i class="fa fa-github" aria-hidden="true"></i>
              </a>
           </div>

          <div class="project-issues-list container" role="tab">
            <div class="row" id="GeekHaven-Aparoksha-18-issues">
            </div>

            <div class="row" id="GeekHaven-Aparoksha-18-load-more">

                <button class="btn btn-danger" onclick="loadMoreIssues('GeekHaven', 'Aparoksha-18')">Load more</button>

             </div>
          </div>



          <!-- Profile Portal -->
          <div class="project-title" id="GitHubCommunity-IIITAllahabad-ProfilePortal-Beta-heading">
              <i class="fa fa-angle-down" aria-hidden="true"></i>
                    Profile Portal (HTML, CSS, JAVASCRIPT, PYTHON)
              <a href="#">
                 <i class="fa fa-github" aria-hidden="true"></i>
              </a>
           </div>

          <div class="project-issues-list container" role="tab">
            <div class="row" id="GitHubCommunity-IIITAllahabad-ProfilePortal-Beta-issues">
            </div>

            <div class="row" id="GitHubCommunity-IIITAllahabad-ProfilePortal-Beta-load-more">

                <button class="btn btn-danger" onclick="loadMoreIssues('GitHubCommunity-IIITAllahabad', 'ProfilePortal-Beta')">Load more</button>

             </div>
          </div>



          <!-- Youtube Queue Extension -->
          <div class="project-title" id="adeora7-youtube_queue_extension-heading">
              <i class="fa fa-angle-down" aria-hidden="true"></i>
                    Youtube-Queue-Extension (HTML, CSS, JAVASCRIPT)
              <a href="#">
                 <i class="fa fa-github" aria-hidden="true"></i>
              </a>
           </div>

          <div class="project-issues-list container" role="tab">
            <div class="row" id="adeora7-youtube_queue_extension-issues">
            </div>

            <div class="row" id="adeora7-youtube_queue_extension-load-more">

                <button class="btn btn-danger" onclick="loadMoreIssues('adeora7', 'youtube_queue_extension')">Load more</button>

             </div>
          </div>




          <!-- Utlyz CLI -->
          <div class="project-title" id="rahulkumaran-Utlyz-CLI-heading">
              <i class="fa fa-angle-down" aria-hidden="true"></i>
                    Utlyz CLI (PYTHON)
              <a href="#">
                 <i class="fa fa-github" aria-hidden="true"></i>
              </a>
           </div>

          <div class="project-issues-list container" role="tab">
            <div class="row" id="rahulkumaran-Utlyz-CLI-issues">
            </div>

            <div class="row" id="rahulkumaran-Utlyz-CLI-load-more">

                <button class="btn btn-danger" onclick="loadMoreIssues('rahulkumaran', 'Utlyz-CLI')">Load more</button>

             </div>
          </div>



          <!-- Pydic -->
          <div class="project-title" id="mrsaicharan1-PyDic-heading">
              <i class="fa fa-angle-down" aria-hidden="true"></i>
                    PyDic (PYTHON)
              <a href="#">
                 <i class="fa fa-github" aria-hidden="true"></i>
              </a>
           </div>

          <div class="project-issues-list container" role="tab">
            <div class="row" id="mrsaicharan1-PyDic-issues">
            </div>

            <div class="row" id="mrsaicharan1-PyDic-load-more">

                <button class="btn btn-danger" onclick="loadMoreIssues('mrsaicharan1', 'PyDic')">Load more</button>

             </div>
          </div>



          <!-- Attendence Portal -->
          <div class="project-title" id="GitHubCommunity-IIITAllahabad-attendance-portal-heading">
              <i class="fa fa-angle-down" aria-hidden="true"></i>
                    Attendence Portal (HTML, CSS, JAVASCRIPT)
              <a href="#">
                 <i class="fa fa-github" aria-hidden="true"></i>
              </a>
           </div>

          <div class="project-issues-list container" role="tab">
            <div class="row" id="GitHubCommunity-IIITAllahabad-attendance-portal-issues">
            </div>

            <div class="row" id="GitHubCommunity-IIITAllahabad-attendance-portal-load-more">

                <button class="btn btn-danger" onclick="loadMoreIssues('GitHubCommunity-IIITAllahabad', 'attendance-portal')">Load more</button>

             </div>
          </div>



          <!-- HoxNox -->
          <div class="project-title" id="Anupam-dagar-Portfolio-Generator-heading">
              <i class="fa fa-angle-down" aria-hidden="true"></i>
                    HoxNox (HTML, CSS, JAVASCRIPT)
              <a href="#">
                 <i class="fa fa-github" aria-hidden="true"></i>
              </a>
           </div>

          <div class="project-issues-list container" role="tab">
            <div class="row" id="Anupam-dagar-Portfolio-Generator-issues">
            </div>

            <div class="row" id="Anupam-dagar-Portfolio-Generator-load-more">

                <button class="btn btn-danger" onclick="loadMoreIssues('Anupam-dagar', 'Portfolio-Generator')">Load more</button>

             </div>
          </div>



          <!-- Lucid CV -->
          <div class="project-title" id="aswinzz-LucidCV-heading">
            <i class="fa fa-angle-down" aria-hidden="true"></i>
                  Lucid CV (HTML, CSS, JAVASCRIPT)
            <a href="#">
               <i class="fa fa-github" aria-hidden="true"></i>
            </a>
         </div>

        <div class="project-issues-list container" role="tab">
          <div class="row" id="aswinzz-LucidCV-issues">
          </div>

          <div class="row" id="aswinzz-LucidCV-load-more">

              <button class="btn btn-danger" onclick="loadMoreIssues('aswinzz', 'LucidCV')">Load more</button>

           </div>
        </div>



        <!-- OpenNews -->
        <div class="project-title" id="opencode18-OpenNews-heading">
          <i class="fa fa-angle-down" aria-hidden="true"></i>
                Open News (HTML, CSS, JAVASCRIPT)
          <a href="#">
             <i class="fa fa-github" aria-hidden="true"></i>
          </a>
       </div>

      <div class="project-issues-list container" role="tab">
        <div class="row" id="opencode18-OpenNews-issues">
        </div>

        <div class="row" id="opencode18-OpenNews-load-more">

            <button class="btn btn-danger" onclick="loadMoreIssues('opencode18', 'OpenNews')">Load more</button>

         </div>
      </div>



          <!-- yes -->
          <div class="project-title" id="mubaris-yes-heading">
            <i class="fa fa-angle-down" aria-hidden="true"></i>
                  YES (MULTIPLE LANGUAGES)
            <a href="#">
              <i class="fa fa-github" aria-hidden="true"></i>
            </a>
        </div>

        <div class="project-issues-list container" role="tab">
          <div class="row" id="mubaris-yes-issues">
          </div>

          <div class="row" id="mubaris-yes-load-more">

              <button class="btn btn-danger" onclick="loadMoreIssues('mubaris', 'yes')">Load more</button>

          </div>
        </div>



          <!-- addy-react-native -->
          <div class="project-title" id="addy-org-Addy-React-Native-heading">
            <i class="fa fa-angle-down" aria-hidden="true"></i>
                  Addy React Native (REACT)
            <a href="#">
              <i class="fa fa-github" aria-hidden="true"></i>
            </a>
        </div>

        <div class="project-issues-list container" role="tab">
          <div class="row" id="addy-org-Addy-React-Native-issues">
          </div>

          <div class="row" id="addy-org-Addy-React-Native-load-more">

              <button class="btn btn-danger" onclick="loadMoreIssues('addy-org', 'Addy-React-Native')">Load more</button>

          </div>
        </div>



        <!-- DiavApp -->
        <div class="project-title" id="luisejrobles-DiavApp-heading">
            <i class="fa fa-angle-down" aria-hidden="true"></i>
                  DiavApp (ANGULAR)
            <a href="#">
              <i class="fa fa-github" aria-hidden="true"></i>
            </a>
        </div>

        <div class="project-issues-list container" role="tab">
          <div class="row" id="luisejrobles-DiavApp-issues">
          </div>

          <div class="row" id="luisejrobles-DiavApp-load-more">

              <button class="btn btn-danger" onclick="loadMoreIssues('luisejrobles', 'DiavApp')">Load more</button>

          </div>
        </div>



        <!-- Coin Desk -->
        <div class="project-title" id="gostudent-coindesk-heading">
            <i class="fa fa-angle-down" aria-hidden="true"></i>
                  Coin Desk (GO)
            <a href="#">
              <i class="fa fa-github" aria-hidden="true"></i>
            </a>
        </div>

        <div class="project-issues-list container" role="tab">
          <div class="row" id="gostudent-coindesk-issues">
          </div>

          <div class="row" id="gostudent-coindesk-load-more">

              <button class="btn btn-danger" onclick="loadMoreIssues('gostudent', 'coindesk')">Load more</button>

          </div>
        </div>



        <!-- Console -->
        <div class="project-title" id="gostudent-console-heading">
            <i class="fa fa-angle-down" aria-hidden="true"></i>
                  Console (GO)
            <a href="#">
              <i class="fa fa-github" aria-hidden="true"></i>
            </a>
        </div>

        <div class="project-issues-list container" role="tab">
          <div class="row" id="gostudent-console-issues">
          </div>

          <div class="row" id="gostudent-console-load-more">

              <button class="btn btn-danger" onclick="loadMoreIssues('gostudent', 'console')">Load more</button>

          </div>
        </div>



        <!-- Grypto -->
        <div class="project-title" id="gostudent-Grypto-heading">
            <i class="fa fa-angle-down" aria-hidden="true"></i>
                  Grypto (GO)
            <a href="#">
              <i class="fa fa-github" aria-hidden="true"></i>
            </a>
        </div>

        <div class="project-issues-list container" role="tab">
          <div class="row" id="gostudent-Grypto-issues">
          </div>

          <div class="row" id="gostudent-Grypto-load-more">

              <button class="btn btn-danger" onclick="loadMoreIssues('gostudent', 'Grypto')">Load more</button>

          </div>
        </div>



        <!-- aurora -->
        <div class="project-title" id="gostudent-aurora-heading">
            <i class="fa fa-angle-down" aria-hidden="true"></i>
                  aurora (GO)
            <a href="#">
              <i class="fa fa-github" aria-hidden="true"></i>
            </a>
        </div>

        <div class="project-issues-list container" role="tab">
          <div class="row" id="gostudent-aurora-issues">
          </div>

          <div class="row" id="gostudent-aurora-load-more">

              <button class="btn btn-danger" onclick="loadMoreIssues('gostudent', 'aurora')">Load more</button>

          </div>
        </div>




          <!-- HackerSkills -->
          <div class="project-title" id="opencode18-HackerSkills-heading">
            <i class="fa fa-angle-down" aria-hidden="true"></i>
                  HackerSkills (MULTIPLE LANGUAGES)
            <a href="#">
               <i class="fa fa-github" aria-hidden="true"></i>
            </a>
         </div>

        <div class="project-issues-list container" role="tab">
          <div class="row" id="opencode18-HackerSkills-issues">
          </div>

          <div class="row" id="opencode18-HackerSkills-load-more">

              <button class="btn btn-danger" onclick="loadMoreIssues('opencode18', 'HackerSkills')">Load more</button>

           </div>
        </div>



        <!-- Girls who Code -->
        <div class="project-title" id="opencode18-Girls-who-code-heading">
          <i class="fa fa-angle-down" aria-hidden="true"></i>
                Girls-who-code (HTML, CSS, JAVASCRIPT)
          <a href="#">
             <i class="fa fa-github" aria-hidden="true"></i>
          </a>
       </div>

      <div class="project-issues-list container" role="tab">
        <div class="row" id="opencode18-Girls-who-code-issues">
        </div>

        <div class="row" id="opencode18-Girls-who-code-load-more">

            <button class="btn btn-danger" onclick="loadMoreIssues('opencode18', 'Girls-who-code')">Load more</button>

         </div>
      </div>



      <!-- Letsgo -->
      <div class="project-title" id="gostudent-Letsgo-heading">
        <i class="fa fa-angle-down" aria-hidden="true"></i>
              Letsgo (GO)
        <a href="#">
           <i class="fa fa-github" aria-hidden="true"></i>
        </a>
     </div>

      <div class="project-issues-list container" role="tab">
        <div class="row" id="gostudent-Letsgo-issues">
        </div>

        <div class="row" id="gostudent-Letsgo-load-more">

            <button class="btn btn-danger" onclick="loadMoreIssues('gostudent', 'Letsgo')">Load more</button>

        </div>
      </div>




      <!-- Cool Physics -->
      <div class="project-title" id="himanshub16-cool-physics-heading">
        <i class="fa fa-angle-down" aria-hidden="true"></i>
              cool-physics (HTML, CSS, JAVASCRIPT)
        <a href="#">
          <i class="fa fa-github" aria-hidden="true"></i>
        </a>
      </div>

      <div class="project-issues-list container" role="tab">
        <div class="row" id="himanshub16-cool-physics-issues">
        </div>

        <div class="row" id="himanshub16-cool-physics-load-more">

            <button class="btn btn-danger" onclick="loadMoreIssues('himanshub16', 'cool-physics')">Load more</button>

        </div>
      </div>




      <!-- Goal Coach -->
      <div class="project-title" id="himank-goel-Goal-Coach-heading">
          <i class="fa fa-angle-down" aria-hidden="true"></i>
              Goal-Coach (REACT)
          <a href="#">
            <i class="fa fa-github" aria-hidden="true"></i>
          </a>
      </div>

      <div class="project-issues-list container" role="tab">
        <div class="row" id="himank-goel-Goal-Coach-issues">
        </div>

        <div class="row" id="himank-goel-Goal-Coach-load-more">

            <button class="btn btn-danger" onclick="loadMoreIssues('himank-goel', 'Goal-Coach')">Load more</button>

        </div>
      </div>


          <!-- ============================================================== -->
          <!-- NOW GO DOWN TO script.js-->
          <!-- ============================================================== -->

      </div>
  </section>

  <!-- Footer -->
  <footer role="contentinfo">
    <div class="container">
      <!-- <div class=""> -->
      <!-- <div class="col-md-12 text-center"> -->
      <!-- <div> -->

      <!-- </div> -->


      <!-- </div> -->

      <!-- <div class="col-md-6 to-animate"> -->
      <!-- <h3>Contact Info</h3> -->

      <!-- <li class="fh5co-contact-address ">
									<i class="icon-home"></i>
									5555 Love Paradise 56 New Clity 5655, <br>Excel Tower United Kingdom
								</li> -->

      <!-- <div class="row">
							<div class="col-md-4">
									<h4 class="contact_head">Faheem Zunjani</h4>
										<i class="icon-envelope contact_icon"></i><span>iit2015113@iiita.ac.in</span>
									</div>
									<div class="col-md-4">
								<i class="icon-globe contact_icon"></i> <a href="http://fossiiita.github.io" target="_blank">fossiiita.github.io</a>
							</div>
									<div class="col-md-4">
									<h4 class="contact_head">Mubaris NK</h4>
									<i class="icon-envelope contact_icon"></i><span>iit2015134@iita.ac.in</span>
								</div>
						</div> -->

      <!-- </div> -->
      <!-- </div> -->
      <div class="row">

        <div class="col-12 col-sm-12 col-md-4">

          <ul class="list-inline">

            <li class="list-inline-item">
              <a href="https://github.com/fossiiita" target="_blank">
                <img class="img-responsive" id="foss" src="images/favicon/foss.png">
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://geekhaven.iiita.ac.in/">
                <img class="img-responsive" id="geek" src="images/favicon/Geekhaven.png">
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://www.iiita.ac.in/">
                <img class="img-responsive" id="iiita" src="images/favicon/iiita.png">
              </a>
            </li>
          </ul>
        </div>

        <div class="col-12 col-sm-12 col-md-4">

          <p style="color:white">Created with
            <i class="fa fa-heart" aria-hidden="true"></i> by
            <a href="https://geekhaven.iiita.ac.in/foss/" target="_blank">FOSS</a>
          </p>
        </div>


        <div class="col-12 col-sm-12 col-md-4">
          <ul class="list-inline">

            <li class="list-inline-item">
              <a href="https://github.com/fossiiita" target="_blank">
                <i class="fa fa-github fa-2x" aria-hidden="true" style="font-size: 40px"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="mailto:iit2015113@iiita.ac.in">
                <i class="fa fa-envelope-square" style="font-size: 40px"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://www.facebook.com/opencodeiiita/">
                <i class=" fa fa-facebook-square" style="font-size: 40px"></i>
              </a>
            </li>
          </ul>
        </div>

      </div>
    </div>
    </div>
  </footer>


  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- JQuery UI -->
  <script src="vendor/jquery/jquery-ui.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom JavaScript for this theme -->

  <!-- Accordion Issues Menu -->
  <script>
    $(document).ready(function () {
      $(function () {
        $("#accordion").accordion({
          collapsible: true,
          active: false,
          heightStyle: "content"
        });
      });


    });
  </script>

          <!-- ===================================================================================== -->
          <!-- IN THIS SCRIPT TAG BELOW, COPY AND PASTE THE LINE AND REPLACE USERNAME AND REPO NAME-->
          <!-- ===================================================================================== -->

  <script>

    $(document).ready(function () {
      $('#opencode18-CodeStash-load-more button').click();
      $('#opencode18-OpenCode-Collaborative-load-more button').click();
      $('#opencode18-HackerSkills-load-more button').click();
      $('#opencode18-Girls-who-code-load-more button').click();
      $('#gostudents-Letsgo-load-more button').click();
      $('#himanshub16-cool-physics-load-more button').click();
      $('#himank-goel-Goal-Coach-load-more button').click();
      $('#gostudent-Algorithms-load-more button').click();
      $('#Anna-Assistant-Anna-load-more button').click();
      $('#mubaris-motivate-load-more button').click();
      $('#agbilotia1998-Lecture-Connect-load-more button').click();
      $('#GeekHaven-Aparoksha-18-load-more button').click();
      $('#GitHubCommunity-IIITAllahabad-ProfilePortal-Beta-load-more button').click();
      $('#adeora7-youtube_queue_extension-load-more button').click();
      $('#rahulkumaran-Utlyz-CLI-load-more button').click();
      $('#mrsaicharan1-PyDic-load-more button').click();
      $('#GitHubCommunity-IIITAllahabad-attendance-portal-load-more button').click();
      $('#Anupam-dagar-Portfolio-Generator-load-more button').click();
      $('#aswinzz-LucidCV-load-more button').click();
      $('#opencode18-OpenNews-load-more button').click();
      $('#mubaris-yes-load-more button').click();
      $('#addy-org-Addy-React-Native-load-more button').click();
      $('#luisejrobles-DiavApp-load-more button').click();
      $('#gostudent-coindesk-load-more button').click();
      $('#gostudent-console-load-more button').click();
      $('#gostudent-Grypto-load-more button').click();
      $('#gostudent-aurora-load-more button').click();
    });

  </script>

<script src="js/scrolling-nav.js"></script>
<script src="https://unpkg.com/vue"></script>
<script src="js/mentor.js"></script>
<script src="js/contestant.js"></script>
<script src="js/projects.js"></script>
<script src="js/issue-loader.js"></script>
<script src="countDown.js"></script>
<script src="js/apicall.js"></script>
<script src="js/popup.js"></script>

<script type="text/javascript">
  (function ($) {
$(document).ready(function(){

  // hide .navbar first
  $("#fh5co-header").hide();

  // fade in .navbar
  $(function () {
      $(window).scroll(function () {

               // set distance user needs to scroll before we start fadeIn
          if ($(this).scrollTop() > 580) {
              $("#fh5co-header").fadeIn();
          } else {
              $("#fh5co-header").fadeOut();
          }
      });
  });

});
}(jQuery));
</script>

<script>
// Window Scroll
var windowScroll = function() {
  var lastScrollTop = 0;

  $(window).scroll(function(event){

      var header = $('#fh5co-header'),
      scrlTop = $(this).scrollTop();

    if ( scrlTop > 500 && scrlTop <= 2000 ) {
      header.addClass('navbar-fixed-top fh5co-animated slideInDown');
    } else if ( scrlTop <= 500) {
      if ( header.hasClass('navbar-fixed-top') ) {
        header.addClass('navbar-fixed-top fh5co-animated slideOutUp');
        setTimeout(function(){
          header.removeClass('navbar-fixed-top fh5co-animated slideInDown slideOutUp');
        }, 100 );
      }
    }

  });
};

</script>


<script src="js/game.js"></script>
</body>
</html>
