body{
	text-align: center;
  font-family: sans-serif;
  font-weight: 100;
}


.link{
  margin-top: 40px;
}

a:hover{
  background: -webkit-linear-gradient(45deg, #ee0979, #ff6a00);
}

#clockdiv{
	font-family: sans-serif;
	color: #000;
	display: inline-block;
	font-weight: 100;
	text-align: center;
	font-size: 30px;
}


#clockdiv > div{
	padding: 10px;
	border-radius: 3px;
 	background: -webkit-linear-gradient(45deg, #ee0979, #ff6a00);
	display: inline-block;
}

#clockdiv div > span{
	padding: 15px;
	border-radius: 3px;
	background: #fff;
	display: inline-block;
}

.smalltext{
	padding-top: 5px;
	font-size: 16px;
	color: #000;
}
